* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #f4f4f9;
    color: #333;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px auto;
    padding: 20px;
    max-width: 800px;
}
h1 {
    color: rgb(0, 166, 255);
    margin-bottom: 20px;
}
.add-form {
    margin: 15px;
    padding: 15px;
    box-shadow: 0px -3px 16px -4px rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    background: #fff;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}
.add-form input, .add-form textarea {
    margin: 15px 0;
    padding: 10px 15px;
    border: 1.5px solid rgb(0, 166, 255);
    outline: none;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.add-form textarea::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add-form button {
    background-color: rgb(0, 166, 255);
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
}
.add-form button:hover {
    background-color: rgb(0, 180, 255);
    transform: scale(1.03);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 12px;
    text-align: center;
    font-size: 16px;
}
th {
    background-color: rgb(0, 166, 255);
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}
td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
    border: 1px solid #333;
}
td:hover {
    background-color: #f1f1f1;
}
td:nth-child(1), th:nth-child(1) {
    width: 20%;
    border-left: none;
}
td:nth-child(2), th:nth-child(2) {
    width: 15%;
}
td:nth-child(3), th:nth-child(3) {
    width: 15%;
}
td:nth-child(4), th:nth-child(4) {
    width: 10%;
}
td:nth-child(5), th:nth-child(5) {
    width: 10%;
}
td:nth-child(6), th:nth-child(6) {
    width: 30%;
    white-space: normal;
    border-right: none;
}
a, button {
    background-color: rgb(0, 166, 255);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
a:hover, button:hover {
    background-color: rgb(0, 180, 255);
    transform: scale(1.05);
}