::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #bbc1c8;
}
::-webkit-scrollbar-thumb {
    background-color: #4F46E5;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #5f58de;
}